matplotlib
seaborn
plotly

numpy
pandas
polars
pyarrow
ipywidgets
nbconvert

pandera

faker
eikon

duckdb
duckdb-engine
psycopg
sqlparse
pyspark

skimpy
scipy
statsmodels

scikit-learn
xgboost
lightgbm
catboost

lifelines
nelson-siegel-svensson

nltk
spacy

lime
shap

tqdm
loguru
dotenv
typer
ipykernel
papermill
yfinance
ipython
