matplotlib
seaborn
plotly
drawdata

numpy
pandas
polars
pyarrow
ipywidgets
nbconvert
marimo

pandera

faker
eikon

duckdb
psycopg
sqlparse
pyspark
pdfplumber

skimpy
scipy
statsmodels

scikit-learn
feature_engine
xgboost
lightgbm
catboost

lifelines
nelson-siegel-svensson

nltk

lime
shap

tqdm
dotenv
typer
ipykernel
papermill
yfinance
ipython
ipykernel